Button {
  padding: 12px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  background-color: #C55A11;
  color: white;
  border: 1px solid;
  text-decoration: none;
}

.App {
  padding: 10px;
  display:block;
  text-align: center;
  align-items: center;
}


#tabelaCentralizada {
    display: inline;
    align-items: center;
  }

  .tabela .Inpar {
    background-color: #F8D7CD;
  }
  .tabela .Par {
    background-color: #FCECE8;
  }

  input {
    width: 25px;
  }

   #user,  #password {
    width:  100px;

  }
  #alinhaLogin {
    display: inline-flex;
    align-items: center;
    
  }

  